<ul>
  <li>
    <%= link_to I18n.t('links.korsou_habri'), 'https://opencuracao.com' %>
  </li>
  <li>
    <%= link_to I18n.t('links.fpi'), 'https://fpi.cw' %>
  </li>
  <li>
    <%= link_to I18n.t('links.spellchecker'), 'https://addons.mozilla.org/en-us/firefox/addon/dikshonario-papiamentu/' %>
  </li>
</ul>
