<ul>
  <% Word.buki_di_oro.recently_updated(@palabra_mas_resien_limit, @palabra_mas_resien_offset).each do |word| %>
    <li style="display:flex;justify-content: space-between;">
      <span><%= link_to_word word %>:</span>
      <span><%= I18n.t('word.updated_at', time: time_ago_in_words(word.updated_at)) %></span>
    </li>
  <% end %>
</ul>
<ul class="pagination" style="display:flex;justify-content: space-between;">
  <li class="arrow">
  <%= link_to content_tag(:span, raw("&laquo;"), :alt => I18n.t("views.shared.buttons.previous"), :title => I18n.t("views.shared.buttons.previous") ),
      { update: "palabra_mas_resien",
        action: "_palabra_mas_resien",
        palabra_mas_resien_limit: @palabra_mas_resien_limit,
        palabra_mas_resien_offset: @palabra_mas_resien_offset,
        direction: 'back',
        locale: I18n.locale
      },
      remote: true
    %>
  <li class="arrow">
   <%= link_to content_tag(:span, raw("&raquo;"), :alt => I18n.t("views.shared.buttons.next"), :title => I18n.t("views.shared.buttons.next") ),
        { update: "palabra_mas_resien",
          action: "_palabra_mas_resien",
          palabra_mas_resien_limit: @palabra_mas_resien_limit,
          palabra_mas_resien_offset: @palabra_mas_resien_offset,
          direction: 'forward',
          locale: I18n.locale
        },
        remote: true
    %>
  </li>
</ul>