<ul>
  <% Word.most_viewed(@palabra_mas_mira_limit, @palabra_mas_mira_offset).each do |word| %>
    <li style="display:flex;justify-content: space-between;">
      <span><%= link_to_word word %>:</span>
      <span><%= word.views %></span>
    </li>
  <% end %>
  <li style="display:flex;justify-content: space-between;">
    <%= link_to content_tag(:i, nil, :class => "fi-large fi-arrow-left", :alt => I18n.t("views.shared.buttons.previous"), :title => I18n.t("views.shared.buttons.previous") ),
      { update: "palabra_mas_mira",
        action: "_palabra_mas_mira",
        palabra_mas_mira_limit: @palabra_mas_mira_limit,
        palabra_mas_mira_offset: @palabra_mas_mira_offset,
        direction: 'back',
        locale: I18n.locale
      },
      remote: true
    %>
    <%= link_to content_tag(:i, nil, :class => "fi-large fi-arrow-right", :alt => I18n.t("views.shared.buttons.next"), :title => I18n.t("views.shared.buttons.next") ),
        { update: "palabra_mas_mira",
          action: "_palabra_mas_mira",
          palabra_mas_mira_limit: @palabra_mas_mira_limit,
          palabra_mas_mira_offset: @palabra_mas_mira_offset,
          direction: 'forward',
          locale: I18n.locale
        },
        remote: true
    %>
  </li>
</ul>
