@import 'foundation_and_overrides';

.row {
  background-color: #fff;
  padding: 30px;
}

.header {
  text-align: right;
  background-color: $secondary-color;
  padding:0;
}

#omniauth_options {
  padding-bottom: 1em;
}
